//
// Load core variables and mixins
// --------------------------------------------------
// @import url("http://fonts.googleapis.com/css?family=Roboto:400,400italic,700");
// @import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700");
//@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700,300italic");
@import "variables.less";
@import "mixins.less";

//
// Base
// --------------------------------------------------

html, body {
	height:100%;
}

body {
	margin:0;
	padding:0;
	text-rendering: optimizeLegibility;
	::-webkit-input-placeholder {
	   color: @text-color;
	   font-size: @font-size-base;
	   font-weight: 400;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: @text-color;
	   font-size: @font-size-base;
	   font-weight: 400;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: @text-color;
	   font-size: @font-size-base;
	   font-weight: 400;
	}

	:-ms-input-placeholder {  
	   color: @text-color;
	   font-size: @font-size-base;
	   font-weight: 400;
	}
}

body, input, textarea, select {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	color: @text-color;
	font-family: 'Source Sans Pro', "Helvetica Nueue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	line-height: 1.5em;
	margin-top: 0;
}

p, span {
	font-weight: 400;
	color: @gray;
}

strong {
	font-weight: 700;
}
header {
	background-color:  @gray-lighter;
	box-shadow: 0 2px 2px rgba(50, 50, 50, 0.2);
}
footer {
    padding: 20px;
    margin-top: 20px;
    background: @gray-darker;
    p {
        line-height: 2;
        span {
            font-weight: 400;
        }
    }
    a {
        color: @gray-lighter;
    }
    .nav {
 
            a {
                color:@gray-lighter;
                &:hover, &:focus {
                    background-color: none !important;
                }
            }
       
        li {
            width: 33%;
            &:first-child {
                margin-left: -15px;
            }
            a:hover {
                background-color: none;
            }
        }
        i {
            float: left;
            display: inline-block;
            margin: 5px;
        }
        span {
            display: inline-block;
        }
    }
}
#content {
  background: #ffffff;
  filter: none;
  min-height: 100%;
  padding: 20px 20px;
  -webkit-border-radius: 0px 5px 5px 5px;
  -moz-border-radius: 0px 5px 5px 5px;
  border-radius: 0px 5px 5px 5px;
  border: 1px solid #eeeeee;
  position: relative;
  .panel-title {
    color: @gray-lighter;
    i {
        padding-right: 10px;
    }
  }
}
//tabs
.navbar-collapse {
padding-right: 0px;
padding-left: 0px;
border: none;
box-shadow: none;
}
.sidebar-nav > ul {
  margin: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: none;
  border-right: none;
  padding-bottom: 1px;
  text-align: center !important;
  font-size: 10px;
}
.sidebar-nav > ul .badge {
  float: right;
  margin: -30px 10px 0 0;
}
.sidebar-nav > ul > li > ul {
  list-style: none;
  margin: 0px 0px 0px -40px;
  display: none;
}
.nav-tabs > li {
    margin-right: -1px;
    margin-top: -1px;
}
.nav-tabs.nav-stacked > li > a,
.nav-tabs.nav-stacked > li > ul > li > a {
  margin: 1px 0px 0px 0px;
  padding: 20px 0px;
  color: #aaa;
  text-shadow: 0px 1px 0px #fff;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: none;
  border-right: none;
  background: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-decoration: none;
}
.nav-tabs.nav-stacked > li > ul > li {
  padding: 5px 0px;
}
.nav-tabs.nav-stacked > li > a > i,
.nav-tabs.nav-stacked > li > ul > li > a > i {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  font-size: 22px;
  display: inline-block;
  width: 100%;
}
.nav-tabs.nav-stacked > li > ul > li > a > i {
  font-size: 20px;
}
.nav-tabs.nav-stacked > li > a:hover > i {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.nav-tabs.nav-stacked > li > a:hover {
  margin: 1px 0px 0px 0px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: none;
  border-right: none;
  color: #666;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > ul > li > a:hover {
  margin: 1px 0px 0px 0px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: none;
  border-right: none;
  color: #666;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.nav-tabs.nav-stacked > li.active > a {
  margin: 1px 0px 0px 0px;
  border: 1px solid #eeeeee;
  border-right: none;
  color: #555555;
  background: #fff;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
  position: relative;
  z-index: 20;
}
.nav-tabs.nav-stacked > li.active > ul {
  margin: -4px 0px 0px 0px;
  border: 1px solid #eeeeee;
  padding: 5px 0px;
  border-top: none;
  border-right: none;
  color: #555555;
  background: #fff;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  position: relative;
  z-index: 21;
}
.nav-tabs.nav-stacked > li.active > ul > li.active > a {
  color: #555555;
}
.nav-tabs.nav-stacked > li:first-child > a {
  margin: 0px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}
.padding0 {
  padding-left: 0;
  padding-right: 0;
}
//btn-search 
.btn-search {
  height: 45px;
}
//login-box
.login-box {
  padding: 20px;
  .wells {
    background-color: @brand-primary;
  }
  form {
    background-color: @gray-lighter;
    padding: 20px;
  }
}
.form-member {
    h2 {
        border-bottom: 1px solid @gray-lighter;
        margin: 0 0 10px 0;
    }
    h3 {
        margin-bottom: 5px;
        small {
            line-height:0.5em;
            display: block;
        }
    }
  .well {
    padding: 20px 20px 0 20px;
    margin: 10px 0 20px 0;
    .padding0 {
        padding:0px;
        .comma {
            text-align: center;
            bottom: 0;
            display: block;
        }
    }
    .padding5 {
        padding:5px;
    }
    thead {
        background-color: @brand-primary;
        color:@white;
    }
    img {
        width:110%;
        border: 5px solid @white;
    }
    .btn {
        margin-bottom: 15px;
    }
    td {
        padding: 5px 10px;
        margin: 0;
        .form-group {
            margin: 0;
        }
    }
    .box {
        background-color: @white;
        table {
            margin-bottom: 0;
        }
    }
  
  }
}
.searchbox {
  .btn {
    display: block;
    margin-top: 25px;
  }
}
// flashmessage
#flashMessage {
    position: absolute;
    z-index: 2000;
    &.message {
        background-color: @brand-success;
        display: block;
        padding: 10px 20px;
        margin: 20px auto;
        left: 50%;
        color: @white;
    }
}
.table {
    a {
        font-weight: 700;
    }
    tbody {
       tr {
            vertical-align: middle;
            &.subtotal {
                background-color: lighten(@gray-light, 30%);
            }
            th {
                background-color: lighten(@brand-primary,30%) !important;
                color:darken(@brand-primary,10%) !important;
                a {
                    color:@gray !important;
                }
            }
        }
    }
}
//user-info for profile 
.user-info {
	padding-top:75px;
	p {
		line-height:1.5em;
		font-size:16px;
	}
	h3 {
		font-weight:700;
		line-height:1em;
	}
	b {
		margin-left:5px;
	}
}
.sidebar-info {
    hr {
        border: none;
        margin-bottom: 20px;
    }
    h4 {
        margin: 0 0 10px 0;
        padding-bottom: 2px;
        border-bottom: 1px solid @gray-lighter;
        font-weight: 700;
        color: @gray;
    }
    label {
        display: block;
        span {
            font-size: 16px;
            margin-left: 5px;
        }
    }
}
.photo {
    background-color: @gray;
    height: 100%;
    display: block;
}
.visible-print {
    h1, h2, h3, h4, h5, h6, p {
        font-size: 14px;
    }
}
.bg-classes {
    padding: 20px;
    &.bg-primary {
        background-color: lighten(@brand-primary, 30%);
        line-height: 1.5em !important;
    }
    &.bg-warning {
        background-color: lighten(@brand-warning, 40%);
        line-height: 1.5em !important;
    }
}
.btn-whole {
    width: 100%;
    font-size: 24px;
    margin-bottom: 10px;
    &.btn-menu {
        font-size: 18px;
    }
}
.listing {
    label {
        display: block;
        margin-top: 0px;
    }
}
.listing-input {
    input {
        float: left;
        display: inline-block;
    }
}
