<div class="optionItems index">
	<h2><?php echo __('Option Items'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('option_id'); ?></th>
			<th><?php echo $this->Paginator->sort('value'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th><?php echo $this->Paginator->sort('status'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($optionItems as $optionItem): ?>
	<tr>
		<td><?php echo h($optionItem['OptionItem']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($optionItem['Option']['title'], array('controller' => 'options', 'action' => 'view', $optionItem['Option']['id'])); ?>
		</td>
		<td><?php echo h($optionItem['OptionItem']['value']); ?>&nbsp;</td>
		<td><?php echo h($optionItem['OptionItem']['created']); ?>&nbsp;</td>
		<td><?php echo h($optionItem['OptionItem']['modified']); ?>&nbsp;</td>
		<td><?php echo h($optionItem['OptionItem']['status']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $optionItem['OptionItem']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $optionItem['OptionItem']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $optionItem['OptionItem']['id']), null, __('Are you sure you want to delete # %s?', $optionItem['OptionItem']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Option Item'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Options'), array('controller' => 'options', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Option'), array('controller' => 'options', 'action' => 'add')); ?> </li>
	</ul>
</div>
