<a href="<?php echo $this->Html->url(array('controller'=>empty($controller)?$this->request->params['controller']:$controller,'action'=>'edit',$id));?>" class="btn btn-info">
	<i class="fa fa-pencil"></i>  
</a>