<a href="<?php echo $this->Html->url(array('controller'=>empty($controller)?$this->request->params['controller']:$controller,'action'=>'view',$id));?>" class="btn btn-primary">
	<i class="fa fa-search-plus"></i>  
</a>