<h2><?php echo $question['SurveyForm']['Survey']['title'];?></h2>
<ul>
	<li type="square">
		<?php echo $question['SurveyForm']['title'];?>
		<h5>Question: <?php echo $question['Question']['question'];?></h5>
		<ul>
			<?php foreach ($question["QuestionAnswer"] as $key => $answer):?>
				<li><?php echo $answer['value'];?></li>
			<?php endforeach;?>
		</ul>
	</li>
</ul>